#box-7 {
  width:400px;
  height:500px;
  border: 1px solid white;
}

#seven1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 100px 100px;
	height: 0px;
	width: 0px;
	margin-left: 50px;
	margin-top: 100px;
	position: absolute;

}

#seven2 {
	background-color: black;
	width: 200px ;
	height: 100px;
	margin-left: 150px;
	margin-top: 100px;
	position: absolute;
}

#seven3 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 100px 100px 0px;
	height: 0px;
	width: 0px;
	margin-left: 350px;
	margin-top: 100px;
	position: absolute;
}

#seven4 {
	background-color: black;
	width: 100px ;
	height: 0px;

	margin-left: 350px;
	margin-top: 200px;
}

#seven4-1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 100px 0px 0px 100px;
	height: 0px;
	width: 0px;
	margin-left: 300px;
	margin-top: 0px;
	position: absolute;
}

#seven5 {
	border-color: black transparent;
	border-style: solid;
	border-width: 200px 100px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 350px;
	margin-top: 0px;
	position: absolute;

}

#seven6 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 200px 100px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 0px;
	position: absolute;
}

#seven7 {
	border-color: black transparent;
	border-style: solid;
	border-width: 200px 100px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 200px;
	position: absolute;

}

#seven8 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 200px 100px;
	height: 0px;
	width: 0px;
	margin-left: 150px;
	margin-top: 200px;
	position: absolute;
}

