#box {
  width:400px;
  height:500px;
  border: 1px solid white;
}

#f1 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 25vw;
margin-top: 5vh;
}

#f2 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 15vw;
margin-top: -8.5vh;
}

#f3 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 5vw;
margin-top: -8.5vh;
}

#f4 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 25vw;
margin-top: 12vh;
}

#f5 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 15vw;
margin-top: -8vh;
}

#f6 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 5vw;
margin-top: -8vh;
}

#f7 {
background-color: transparent;
width: 4vw;
height: 4vw;
border-radius: 4vw;
border: 2px solid black;
margin-left: 5vw;
margin-top: 14vh;
}