a {
	font-family: Roboto;
	font-size: 25px;
	text-decoration: none;
	position: absolute;
	bottom: 2%;
	left: 2%;
	display: inline-block;
}

#box-c, #box-f, #box-w, #box-7
{	width:350px;
  	height:500px;
 	border: 1px solid white;
  	display: inline-block;
  	position: relative;
}

#c1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 90px 90px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 20px;
	position: absolute;

}



#c2 {

	background-color: black;
	width: 150px ;
	height: 90px;
	margin-left: 100px;
	margin-top: 20px;
	position: absolute;

}

#c3 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 90px 90px;
	height: 0px;
	width: 0px;
	margin-left: 10px;
	margin-top: 20px;
	position: absolute;

}

#c3-1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 100px 100px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 65px;
	margin-top: 100px;
	position: absolute;

}

#c4 {
	background-color: black;
	width: 100px ;
	height: 280px;

	margin-left: 10px;
	margin-top: 110px;
}

#c5 {

	border-color: black transparent;
	border-style: solid;
	border-width: 90px 0px 0px 90px;
	height: 0px;
	width: 0px;
	margin-left: 10px;
	margin-top: 0px;
	position: absolute;
}

#c5-1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 100px 100px 0px;
	height: 0px;
	width: 0px;
	margin-left: 65px;
	margin-top: -100px;
	position: absolute;
}

#c6 {
background-color: black;
	width: 150px ;
	height: 90px;
	margin-left: 100px;
	margin-top: 0px;
	position: absolute;
}

#c7 {
	border-color: black transparent;
	border-style: solid;
	border-width: 90px 90px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 0px;
	position: absolute;
}



#f1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 90px 90px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 20px;
	position: absolute;

}

#f2 {
	background-color: black;
	width: 150px ;
	height: 90px;
	margin-left: 100px;
	margin-top: 20px;
	position: absolute;

}

#f3 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 90px 90px;
	height: 0px;
	width: 0px;
	margin-left: 10px;
	margin-top: 20px;
	position: absolute;

}

#f3-1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 100px 100px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 65px;
	margin-top: 100px;
	position: absolute;

}

#f4 {
	background-color: black;
	width: 100px ;
	height: 370px;

	margin-left: 10px;
	margin-top: 110px;
}

#f5 {
	background-color: black;
	width: 110px ;
	height: 90px;
	margin-left: 100px;
	margin-top: -250px;
	position: absolute;
}

#f6 {
	border-color: black transparent;
	border-style: solid;
	border-width: 90px 90px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 210px;
	margin-top: -250px;
	position: absolute;
}




#w1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 90px 40px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 310px;
	margin-top: 20px;
	position: absolute;
}

#w2 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 80px 70px;
	height: 0px;
	width: 0px;
	margin-left: 240px;
	margin-top: 20px;
	position: absolute;
}

#w3 {
	background-color: black;
	width: 70px ;
	height: 260px;

	margin-left: 240px;
	margin-top: 100px;
	position: absolute;
}

#w4 {
	border-color: black transparent;
	border-style: solid;
	border-width: 120px 80px 0px 80px;
	height: 0px;
	width: 0px;
	margin-left: 150px;
	margin-top: 360px;
	position: absolute;
}

#w5 {
	border-color: black transparent;
	border-style: solid;
	border-width: 120px 80px 0px 80px;
	height: 0px;
	width: 0px;
	margin-left: 40px;
	margin-top: 360px;
	position: absolute;
}

#w6 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 85px 85px 85px;
	height: 0px;
	width: 0px;
	margin-left: 90px;
	margin-top: 280px;
	position: absolute;
}

#w7 {
	background-color: black;
	width: 70px ;
	height: 260px;

	margin-left: 40px;
	margin-top: 100px;
	position: absolute;
}

#w8 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 70px 80px 0px;
	height: 0px;
	width: 0px;
	margin-left: 40px;
	margin-top: 20px;
	position: absolute;
}

#w9 {
	border-color: black transparent;
	border-style: solid;
	border-width: 90px 0px 0px 40px;
	height: 0px;
	width: 0px;
	margin-left: 0px;
	margin-top: 20px;
	position: absolute;
}



#seven1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 90px 90px;
	height: 0px;
	width: 0px;
	margin-left: 20px;
	margin-top: 20px;
	position: absolute;

}

#seven2 {
	background-color: black;
	width: 140px ;
	height: 90px;
	margin-left: 110px;
	margin-top: 20px;
	position: absolute;
}

#seven3 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 90px 90px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 20px;
	position: absolute;
}

#seven4 {
	background-color: black;
	width: 90px ;
	height: 40px;

	margin-left: 250px;
	margin-top: 110px;
	position: absolute;
}

#seven4-1 {
	border-color: black transparent;
	border-style: solid;
	border-width: 90px 0px 0px 90px;
	height: 0px;
	width: 0px;
	margin-left: 210px;
	margin-top: 110px;
	position: absolute;
}

#seven5 {
	border-color: black transparent;
	border-style: solid;
	border-width: 180px 90px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 250px;
	margin-top: 150px;
	position: absolute;

}

#seven6 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 180px 90px;
	height: 0px;
	width: 0px;
	margin-left: 160px;
	margin-top: 150px;
	position: absolute;
}

#seven7 {
	border-color: black transparent;
	border-style: solid;
	border-width: 180px 90px 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 175px;
	margin-top: 300px;
	position: absolute;

}

#seven8 {
	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 180px 90px;
	height: 0px;
	width: 0px;
	margin-left: 85px;
	margin-top: 300px;
	position: absolute;
}

