#box {
  width:400px;
  height:500px;
  border: 1px solid white;
}

#c1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 6vw 10vh 0px;
	height: 0px;
	width: 0px;
	margin-left: 230px;
	margin-top: 10vh;
	position: absolute;

}



#c2 {

	background-color: black;
	width: 15vw ;
	height: 10vh;
	margin-left: 100px;
	margin-top: 10vh;
	position: absolute;

}

#c3 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 0px 10vh 5vw;
	height: 0px;
	width: 0px;
	margin-left: 50px;
	margin-top: 10vh;
	position: absolute;

}

#c3-1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 10vh 5vw 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 100px;
	margin-top: 20vh;
	position: absolute;

}

#c4 {
	background-color: black;
	width: 7vw ;
	height: 30vh;

	margin-left: 50px;
	margin-top: 20vh;
}

#c5 {

	border-color: black transparent;
	border-style: solid;
	border-width: 10vh 0px 0px 5vw;
	height: 0px;
	width: 0px;
	margin-left: 50px;
	margin-top: 0vh;
	position: absolute;
}

#c5-1 {

	border-color: black transparent;
	border-style: solid;
	border-width: 0px 5vw 10vh 0px;
	height: 0px;
	width: 0px;
	margin-left: 100px;
	margin-top: -10vh;
	position: absolute;
}

#c6 {
background-color: black;
	width: 15vw ;
	height: 10vh;
	margin-left: 100px;
	margin-top: 0vh;
	position: absolute;
}

#c7 {
	border-color: black transparent;
	border-style: solid;
	border-width: 10vh 5vw 0px 0px;
	height: 0px;
	width: 0px;
	margin-left: 230px;
	margin-top: 0vh;
	position: absolute;
}
