body {
	font-family: carme;
	margin: 50px;
}
.foamedmilk{
	 background-color: #c0d6f9;
	 width:30%;
	 height:60px;
	 border-width: 0px 0px 0px 0px;
	 text-align:center;
}
.steamedmilk{
	 background-color: #e6f9c0;
	 width:30%;
	  height:60px;
	  border-width: 0px 0px 0px 0px;
	  text-align:center;
}
.espresso{
	 background-color: #7a2941;
	 width:30%;
	  height:60px;
	  border-width: 0px 0px 0px 0px;
	  position: relative;
  left: 0%;
  top: 50%;
	  text-align:center;
}
.description{
	border-width: 30px;
	text-align:center;
	margin: 50px;
	padding: 10px;
}

.cup {
	border-width: 0px;
	position: center;

}
