body{
	margin: 0px;
}

.h1{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 4vw;
	left: 4vw;
	background-color: #d9e8b4;
}

.h2{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 12vw;
	left: 4vw;
	background-color: #d8ebec;
}

.h3{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 20vw;
	left: 4vw;
	background-color: #d9e8b4;
}

.h4{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 28vw;
	left: 4vw;
	background-color: #d8ebec;
}

.h5{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 36vw;
	left: 4vw;
	background-color: #d9e8b4;
}

.h6{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 44vw;
	left: 4vw;
	background-color: #d8ebec;
}

.h7{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 4vw;
	left: 12vw;
	background-color: #fef27c;
}

.h8{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 12vw;
	left: 12vw;
	background-color: #fbd8dc;
}

.h9{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 20vw;
	left: 12vw;
	background-color: #fef27c;
}

.h10{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 28vw;
	left: 12vw;
	background-color: #fbd8dc;
}

.h11{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 36vw;
	left: 12vw;
	background-color: #fef27c;
}

.h12{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 44vw;
	left: 12vw;
	background-color: #fbd8dc;
}

.h13{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 4vw;
	left: 20vw;
	background-color: #d9e8b4;
}

.h14{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 12vw;
	left: 20vw;
	background-color: #d8ebec;
}

.h15{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 20vw;
	left: 20vw;
	background-color: #d9e8b4;
}

.h16{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 28vw;
	left: 20vw;
	background-color: #d8ebec;
}

.h17{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 36vw;
	left: 20vw;
	background-color: #d9e8b4;
}

.h18{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 44vw;
	left: 20vw;
	background-color: #d8ebec;
}

.h19{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 4vw;
	left: 28vw;
	background-color: #fef27c;
}

.h20{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 12vw;
	left: 28vw;
	background-color: #fbd8dc;
}

.h21{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 20vw;
	left: 28vw;
	background-color: #fef27c;
}

.h22{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 28vw;
	left: 28vw;
	background-color: #fbd8dc;
}

.h23{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 36vw;
	left: 28vw;
	background-color: #fef27c;
}

.h24{
	width: 8vw;
	height: 8vw;
	border-radius: 4vw;
	position: fixed;
	top: 44vw;
	left: 28vw;
	background-color: #fbd8dc;
}

/*--------------------------------*/

.m1{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 60vw;
	background-color: #d8ebec;
}

.m2{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 60vw;
	background-color: #fef27a;
}

.m3{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 60vw;
	background-color: #d8ebec;
}

.m4{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 60vw;
	background-color: #fef27a;
}

.m5{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 60vw;
	background-color: #d8ebec;
}

.m6{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 60vw;
	background-color: #fef27a;
}

.m7{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 60vw;
	background-color: #d8ebec;
}

.m8{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 60vw;
	background-color: #fef27a;
}

.m9{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 60vw;
	background-color: #d8ebec;
}

.m10{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 60vw;
	background-color: #fef27a;
}

.m11{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 65vw;
	background-color: #fbd8dc;
}


.m12{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 65vw;
	background-color: #dbe9b5;
}

.m13{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 65vw;
	background-color: #fbd8dc;
}

.m14{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 65vw;
	background-color: #dbe9b5;
}

.m15{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 65vw;
	background-color: #fbd8dc;
}

.m16{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 65vw;
	background-color: #dbe9b5;
}

.m17{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 65vw;
	background-color: #fbd8dc;
}

.m18{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 65vw;
	background-color: #dbe9b5;
}

.m19{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 65vw;
	background-color: #fbd8dc;
}

.m20{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 65vw;
	background-color: #dbe9b5;
}

.m21{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 70vw;
	background-color: #d8ebec;
}

.m22{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 70vw;
	background-color: #fef27a;
}

.m23{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 70vw;
	background-color: #d8ebec;
}

.m24{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 70vw;
	background-color: #fef27a;
}

.m25{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 70vw;
	background-color: #d8ebec;
}

.m26{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 70vw;
	background-color: #fef27a;
}

.m27{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 70vw;
	background-color: #d8ebec;
}

.m28{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 70vw;
	background-color: #fef27a;
}

.m29{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 70vw;
	background-color: #d8ebec;
}

.m30{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 70vw;
	background-color: #fef27a;
}

.m31{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 75vw;
	background-color: #fbd8dc;
}


.m32{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 75vw;
	background-color: #dbe9b5;
}

.m33{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 75vw;
	background-color: #fbd8dc;
}

.m34{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 75vw;
	background-color: #dbe9b5;
}

.m35{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 75vw;
	background-color: #fbd8dc;
}

.m36{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 75vw;
	background-color: #dbe9b5;
}

.m37{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 75vw;
	background-color: #fbd8dc;
}

.m38{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 75vw;
	background-color: #dbe9b5;
}

.m39{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 75vw;
	background-color: #fbd8dc;
}

.m40{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 75vw;
	background-color: #dbe9b5;
}

.m41{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 80vw;
	background-color: #d8ebec;
}

.m42{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 80vw;
	background-color: #fef27a;
}

.m43{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 80vw;
	background-color: #d8ebec;
}

.m44{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 80vw;
	background-color: #fef27a;
}

.m45{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 80vw;
	background-color: #d8ebec;
}

.m46{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 80vw;
	background-color: #fef27a;
}

.m47{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 80vw;
	background-color: #d8ebec;
}

.m48{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 80vw;
	background-color: #fef27a;
}

.m49{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 80vw;
	background-color: #d8ebec;
}

.m50{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 80vw;
	background-color: #fef27a;
}

.m51{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 4vw;
	left: 85vw;
	background-color: #fbd8dc;
}

.m52{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 9vw;
	left: 85vw;
	background-color: #dbe9b5;
}

.m53{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 14vw;
	left: 85vw;
	background-color: #fbd8dc;
}

.m54{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 19vw;
	left: 85vw;
	background-color: #dbe9b5;
}

.m55{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 24vw;
	left: 85vw;
	background-color: #fbd8dc;
}

.m56{	
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 29vw;
	left: 85vw;
	background-color: #dbe9b5;
}

.m57{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 34vw;
	left: 85vw;
	background-color: #fbd8dc;
}

.m58{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 39vw;
	left: 85vw;
	background-color: #dbe9b5;
}

.m59{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 44vw;
	left: 85vw;
	background-color: #fbd8dc;
}

.m60{
	width: 5vw;
	height: 5vw;
	border-radius: 2.5vw;
	position: fixed;
	top: 49vw;
	left: 85vw;
	background-color: #dbe9b5;
}
