body{
	background-color: #f9bb8e;
}

p{
position:relative;
left:50%;
}

#hide{
position:relative;
left:48%;
top:20px;
}

#show{
position:relative;
left:48%;
top:20px;
}

.eyeframe{
position:absolute;
left:40%;
top:300px;
width: 300px;
height:150px;
border-radius: 225px/110px;
background-color: #f5f9d6;
}

.iris{
position:absolute;
left:85px;
top:5px;
width: 130px;
height: 130px;
border-radius: 65px;
background-color:#773e08;

animation-name: eyeiris;
animation-duration: 3s;
animation-direction: normal;
animation-iteration-count: infinite;
}

.pupil{
position:relative;
left:45px;
top:45px;
width: 40px;
height: 40px;
border-radius: 20px;
background-color:black;
}



.lid{
position:absolute;
z-index: 1;
left:40%;
top:70px;
width: 300px;
height:150px;
border-radius:225px/110px;
background-color: #f9bb8e;

animation-name: eyelid;
animation-duration: 3s;
animation-direction: normal;
animation-iteration-count: infinite;
}

@media (max-width:440px) {
.eyeframe{
left:20%;}

.lid{
left:20%;}

}


@keyframes eyelid {
  0%   {top:100px;}
  75%  {top:300px;}
  100% {top:100px;}
}

@keyframes eyeiris {
  0%   {background-color: #773e08;}
  25%	{background-color: #592c02;}
  50%	{background-color: #773e08;}
  75%	{background-color: #592c02;
  			filter: blur(0.25rem);}
  100%	{background-color: #773e08;}
}
