body {font-family: Muli;
		font-weight: 200;
		background-color: #efecc9;
}

h1{	font-family: Nanum Myeongjo;
	text-align: center;
	margin-top: 15vh;

	position: relative;
        left: -15%;   
}

.title1 {font-family: Nanum Myeongjo;
		font-size: 200px;
		font-weight: 100;
}

.title2{font-family: Nanum Myeongjo;
		font-size: 100px;
		font-weight: 200;
}

.title3 {font-family: Nanum Myeongjo;
		font-size: 50px;
		font-weight: 200;
}

.description{
		font-family: Muli;
		font-size: 17px;
		font-weight: 200;
		text-align: justify;
		line-height: 22px;
		margin-right: 31.5vw ;
		margin-left: 31.5vw ;
		margin-top: 5vh;
}

.image{
	position: absolute;
        margin-top: -70vh; 
        margin-left: 60vw;
}

img {
    
              
}



a { 
	text-decoration: none;
	color: black;

	height: 50px;
	width: 250px;
	border-radius: 50px;
	background-color: #c7d870;

	
	font-family: Nanum Myeongjo;
	font-weight: 200;
	font-size: 20px;
	text-align: center;

	position: absolute;
    margin-top: 10vh; 
    margin-left: 4.5vw;

    display: flex;
  align-items: center;
  justify-content: center; 
    


  

}

a:link {
	text-decoration: none;
	color: black;

}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	height: 100px;
	width: 400px;
	border-radius: 50px;
	background-color: #bcce63;

	font-size: 30px;

	text-decoration: none;
	text-shadow: 2px 2px 2px #aaa;
	color: black;
	display: flex;
  	align-items: center;
  	justify-content: center; 

  	margin-top: 6vh; 
    margin-left: 0vw;

	
}

a:active {
	text-decoration: none;
}



a:hover:after { 
	content: " Click "; }
