body { background-color: #a4b287 ;
		color: green; }

.simba { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		 text-align: center;
		 color: #2d665b; }
.nala { font-family: "Verdana", Geneva, sans-serif;
		color: ##662d3a; }
.sarabi { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: #307042; }
.scar { font-family: "Impact", Charcoal, sans-serif;
		text-align: right;
		font-size: 30px;
		color: #a03011; }