
body { background-color: black ;
		color: green; }

.simba { font-family: Cantarell;
	/*"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
		 text-align: center;
		 font-size: 30px;
		 color: #b6b758; }

.nala { font-family: "Verdana", Geneva, sans-serif;
		margin-left: 200px; 
		font-size: 20px;
		color: #a9b279; }

.sarabi { font-family: Droid Serif;
	/*"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		  font-size: 20px;
		  margin-left: 600px; 
		  color: #e8dea0; }
.sarabi1 { font-family: Droid Serif;
		  font-size: 20px;
		  margin-left: 800px; 
		  color: #e8dea0; }
.sarabi2 { font-family: Droid Serif;
		  font-size: 20px;
		  margin-left: 550px; 
		  color: #ceccaf; }
.sarabi3 { font-family: Droid Serif;
		  font-size: 24px;
		  margin-left: 600px; 
		  color: #e8dea0; }
.scar { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 150px; 
		font-size: 30px;
		color: #820000; }
.scar1 { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 150px; 
		font-size: 50px;
		color: #820000; }
