body { background-color: #282521;}

.title {	font-family:Cinzel;
			font-size: 100px;
			writing-mode: vertical-lr;
			text-orientation: mixed;
			margin-top: 10px;
			margin-left: -20px;
			position: absolute;
			color: #e0e2ba;
			opacity: 0.5;}

.simba { font-family:PT Sans Caption;
		 text-align: center;
		 font-size: 40px;
		 letter-spacing:1px;
		 color: #91c4a6; }

.simba0 { font-family:PT Sans Caption;
		 text-align: center;
		 font-size: 30px;
		 letter-spacing:1px;
		 color: #91c4a6; }

.simba1 { font-family: PT Sans Caption;
		  font-weight: bold;
		 text-align: center;
		 font-size: 60px;
		 letter-spacing:5px;
		 color: #91c4a6; 

		position: absolute;
		animation-name:growl;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-delay: 10s;
		animation-iteration-count: 1;
		animation-direction: normal;
		 animation-fill-mode: both;}


@keyframes growl {
	0%  { font-family: PT Sans Caption;
		  font-weight: bold;
		 text-align: center;
		 font-size: 60px;
		 letter-spacing:5px;
		 color: #91c4a6; 
		 position: relative;

	
		}

	50% {	font-family: PT Sans Caption;
			font-weight: bold;
			text-align: center;
		 font-size: 200px;
		 letter-spacing:5px;
		 color: #91c4a6; 
		 	 position: relative;


		}

	100%{ font-family: PT Sans Caption;
		  font-weight: bold;
		 text-align: center;
		 font-size: 60px;
		 letter-spacing:5px;
		 color: #91c4a6; 
		 	 position: relative;

		}
}


.nala { font-family: Open Sans, sans-serif;
		margin-left: 100px; 
		font-size: 30px;
		letter-spacing:2px;
		color: #a3b542; }

.sarabi { font-family: Droid Serif;
	/*"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		  font-size: 30px;
		  font-weight: lighter;
		  line-height: 1.5;
		  margin-left: 600px; 
		  color: #cec37d; }
.sarabi1 { font-family: Droid Serif;
		  font-size: 30px;
		  font-weight:lighter;
		  line-height: 1.5;
		  margin-left: 800px; 
		  color: #cec37d; }
.sarabi2 { font-family: Droid Serif;
		  font-size: 30px;
		  font-weight:lighter;
		  line-height: 1.5;
		  margin-left: 550px; 
		  color: #cec37d; }
.sarabi3 { font-family: Droid Serif;
		  font-size: 35px;
		  font-weight:lighter;
		  line-height: 1.5;
		  margin-left: 500px; 
		  color: #cec37d; }
.scar { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 50px;
		color: #820000; }

@keyframes animation {
	0%  {
		font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 100px;
		color: #820000; 

		left: 100%;
		top:  2%;
		}

	50% {
		font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 300px;
		color: #820000; 

		left: 10%;
		top: -10%;
		}

	100%{
		font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 120px;
		color: #820000; 

		left: 72%;
		top:  2%;
		}
}

.scar0 { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 120px;
		color: #820000; 

		position: absolute;
		animation-name:animation;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-delay: 0.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
		 animation-fill-mode: both;}

.scar1 { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 100px;
		color: #820000; }

.scar2 { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 70px; 
		font-size: 40px;
		color: #820000; }

.scar3 { font-family: 'Voltaire';
		font-weight: bold;
		text-align: right;
		line-height: 175%;
		margin-right: 300px; 
		font-size: 30px;
		color: #820000; }
