.coreseoul41{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 50vw;
	position: fixed;
}

.coreseoul42{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 55vw;
	position: fixed;
}

.coreseoul43{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 60vw;
	position: fixed;
}

.coreseoul44{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 65vw;
	position: fixed;
}

.coreseoul45{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 70vw;
	position: fixed;
}

.coreseoul46{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 75vw;
	position: fixed;
}

.coreseoul47{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 80vw;
	position: fixed;
}

.coreseoul48{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 85vw;
	position: fixed;
}

.coreseoul49{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 90vw;
	position: fixed;
}

.coreseoul50{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:55vw;
	left: 95vw;
	position: fixed;
}

.coreseoul51{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 50vw;
	position: fixed;
}

.coreseoul52{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 55vw;
	position: fixed;
}

.coreseoul53{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 60vw;
	position: fixed;
}

.coreseoul54{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 65vw;
	position: fixed;
}

.coreseoul55{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 70vw;
	position: fixed;
}

.coreseoul56{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 75vw;
	position: fixed;
}

.coreseoul57{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 80vw;
	position: fixed;
}

.coreseoul58{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 85vw;
	position: fixed;
}

.coreseoul59{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 90vw;
	position: fixed;
}

.coreseoul60{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:50vw;
	left: 95vw;
	position: fixed;
}

.coreseoul61{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 50vw;
	position: fixed;
}

.coreseoul62{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 55vw;
	position: fixed;
}

.coreseoul63{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 60vw;
	position: fixed;
}

.coreseoul64{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 65vw;
	position: fixed;
}

.coreseoul65{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 70vw;
	position: fixed;
}

.coreseoul66{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 75vw;
	position: fixed;
}

.coreseoul67{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 80vw;
	position: fixed;
}

.coreseoul68{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 85vw;
	position: fixed;
}

.coreseoul69{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 90vw;
	position: fixed;
}

.coreseoul70{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:45vw;
	left: 95vw;
	position: fixed;
}

.coreseoul71{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 50vw;
	position: fixed;
}

.coreseoul72{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 55vw;
	position: fixed;
}

.coreseoul73{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 60vw;
	position: fixed;
}

.coreseoul74{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 65vw;
	position: fixed;
}

.coreseoul75{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 70vw;
	position: fixed;
}

.coreseoul76{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 75vw;
	position: fixed;
}

.coreseoul77{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 80vw;
	position: fixed;
}

.coreseoul78{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 85vw;
	position: fixed;
}

.coreseoul79{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 90vw;
	position: fixed;
}

.coreseoul80{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:40vw;
	left: 95vw;
	position: fixed;
}

.coreseoul81{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 50vw;
	position: fixed;
}

.coreseoul82{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 55vw;
	position: fixed;
}

.coreseoul83{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 60vw;
	position: fixed;
}

.coreseoul84{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 65vw;
	position: fixed;
}

.coreseoul85{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 70vw;
	position: fixed;
}

.coreseoul86{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 75vw;
	position: fixed;
}

.coreseoul87{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 80vw;
	position: fixed;
}

.coreseoul88{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 85vw;
	position: fixed;
}

.coreseoul89{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 90vw;
	position: fixed;
}

.coreseoul90{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:35vw;
	left: 95vw;
	position: fixed;
}

.coreseoul91{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 50vw;
	position: fixed;
}

.coreseoul92{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 55vw;
	position: fixed;
}

.coreseoul93{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 60vw;
	position: fixed;
}

.coreseoul94{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 65vw;
	position: fixed;
}

.coreseoul95{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 70vw;
	position: fixed;
}

.coreseoul96{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 75vw;
	position: fixed;
}

.coreseoul97{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 80vw;
	position: fixed;
}

.coreseoul98{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 85vw;
	position: fixed;
}

.coreseoul99{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 90vw;
	position: fixed;
}

.coreseoul100{
	width: 5vw;
	height: 5vw;
	background-color: #ffc708;
	top:30vw;
	left: 95vw;
	position: fixed;
}
