.corenewyork41{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 0vw;
	position: fixed;
}

.corenewyork42{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 5vw;
	position: fixed;
}

.corenewyork43{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 10vw;
	position: fixed;
}

.corenewyork44{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 15vw;
	position: fixed;
}

.corenewyork45{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 20vw;
	position: fixed;
}

.corenewyork46{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 25vw;
	position: fixed;
}

.corenewyork47{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 30vw;
	position: fixed;
}

.corenewyork48{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 35vw;
	position: fixed;
}

.corenewyork49{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 40vw;
	position: fixed;
}

.corenewyork50{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:55vw;
	left: 45vw;
	position: fixed;
}

.corenewyork51{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 0vw;
	position: fixed;
}

.corenewyork52{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 5vw;
	position: fixed;
}

.corenewyork53{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 10vw;
	position: fixed;
}

.corenewyork54{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 15vw;
	position: fixed;
}

.corenewyork55{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 20vw;
	position: fixed;
}

.corenewyork56{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 25vw;
	position: fixed;
}

.corenewyork57{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 30vw;
	position: fixed;
}

.corenewyork58{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 35vw;
	position: fixed;
}

.corenewyork59{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 40vw;
	position: fixed;
}

.corenewyork60{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:50vw;
	left: 45vw;
	position: fixed;
}

.corenewyork61{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 0vw;
	position: fixed;
}

.corenewyork62{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 5vw;
	position: fixed;
}

.corenewyork63{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 10vw;
	position: fixed;
}

.corenewyork64{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 15vw;
	position: fixed;
}

.corenewyork65{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 20vw;
	position: fixed;
}

.corenewyork66{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 25vw;
	position: fixed;
}

.corenewyork67{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 30vw;
	position: fixed;
}

.corenewyork68{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 35vw;
	position: fixed;
}

.corenewyork69{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 40vw;
	position: fixed;
}

.corenewyork70{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:45vw;
	left: 45vw;
	position: fixed;
}

.corenewyork71{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 0vw;
	position: fixed;
}

.corenewyork72{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 5vw;
	position: fixed;
}

.corenewyork73{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 10vw;
	position: fixed;
}

.corenewyork74{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 15vw;
	position: fixed;
}

.corenewyork75{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 20vw;
	position: fixed;
}

.corenewyork76{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 25vw;
	position: fixed;
}

.corenewyork77{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 30vw;
	position: fixed;
}

.corenewyork78{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 35vw;
	position: fixed;
}

.corenewyork79{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 40vw;
	position: fixed;
}

.corenewyork80{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:40vw;
	left: 45vw;
	position: fixed;
}

.corenewyork81{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 0vw;
	position: fixed;
}

.corenewyork82{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 5vw;
	position: fixed;
}

.corenewyork83{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 10vw;
	position: fixed;
}

.corenewyork84{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 15vw;
	position: fixed;
}

.corenewyork85{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 20vw;
	position: fixed;
}

.corenewyork86{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 25vw;
	position: fixed;
}

.corenewyork87{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 30vw;
	position: fixed;
}

.corenewyork88{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 35vw;
	position: fixed;
}

.corenewyork89{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 40vw;
	position: fixed;
}

.corenewyork90{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:35vw;
	left: 45vw;
	position: fixed;
}

.corenewyork91{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 0vw;
	position: fixed;
}

.corenewyork92{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 5vw;
	position: fixed;
}

.corenewyork93{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 10vw;
	position: fixed;
}

.corenewyork94{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 15vw;
	position: fixed;
}

.corenewyork95{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 20vw;
	position: fixed;
}

.corenewyork96{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 25vw;
	position: fixed;
}

.corenewyork97{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 30vw;
	position: fixed;
}

.corenewyork98{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 35vw;
	position: fixed;
}

.corenewyork99{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 40vw;
	position: fixed;
}

.corenewyork100{
	width: 5vw;
	height: 5vw;
	background-color: #c26cab;
	top:30vw;
	left: 45vw;
	position: fixed;
}
