.coretokyo41{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 50vw;
	position: fixed;
}

.coretokyo42{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 55vw;
	position: fixed;
}

.coretokyo43{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 60vw;
	position: fixed;
}

.coretokyo44{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 65vw;
	position: fixed;
}

.coretokyo45{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 70vw;
	position: fixed;
}

.coretokyo46{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 75vw;
	position: fixed;
}

.coretokyo47{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 80vw;
	position: fixed;
}

.coretokyo48{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 85vw;
	position: fixed;
}

.coretokyo49{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 90vw;
	position: fixed;
}

.coretokyo50{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:25vw;
	left: 95vw;
	position: fixed;
}

.coretokyo51{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 50vw;
	position: fixed;
}

.coretokyo52{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 55vw;
	position: fixed;
}

.coretokyo53{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 60vw;
	position: fixed;
}

.coretokyo54{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 65vw;
	position: fixed;
}

.coretokyo55{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 70vw;
	position: fixed;
}

.coretokyo56{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 75vw;
	position: fixed;
}

.coretokyo57{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 80vw;
	position: fixed;
}

.coretokyo58{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 85vw;
	position: fixed;
}

.coretokyo59{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 90vw;
	position: fixed;
}

.coretokyo60{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:20vw;
	left: 95vw;
	position: fixed;
}

.coretokyo61{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 50vw;
	position: fixed;
}

.coretokyo62{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 55vw;
	position: fixed;
}

.coretokyo63{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 60vw;
	position: fixed;
}

.coretokyo64{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 65vw;
	position: fixed;
}

.coretokyo65{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 70vw;
	position: fixed;
}

.coretokyo66{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 75vw;
	position: fixed;
}

.coretokyo67{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 80vw;
	position: fixed;
}

.coretokyo68{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 85vw;
	position: fixed;
}

.coretokyo69{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 90vw;
	position: fixed;
}

.coretokyo70{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:15vw;
	left: 95vw;
	position: fixed;
}

.coretokyo71{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 50vw;
	position: fixed;
}

.coretokyo72{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 55vw;
	position: fixed;
}

.coretokyo73{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 60vw;
	position: fixed;
}

.coretokyo74{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 65vw;
	position: fixed;
}

.coretokyo75{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 70vw;
	position: fixed;
}

.coretokyo76{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 75vw;
	position: fixed;
}

.coretokyo77{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 80vw;
	position: fixed;
}

.coretokyo78{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 85vw;
	position: fixed;
}

.coretokyo79{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 90vw;
	position: fixed;
}

.coretokyo80{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:10vw;
	left: 95vw;
	position: fixed;
}

.coretokyo81{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 50vw;
	position: fixed;
}

.coretokyo82{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 55vw;
	position: fixed;
}

.coretokyo83{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 60vw;
	position: fixed;
}

.coretokyo84{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 65vw;
	position: fixed;
}

.coretokyo85{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 70vw;
	position: fixed;
}

.coretokyo86{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 75vw;
	position: fixed;
}

.coretokyo87{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 80vw;
	position: fixed;
}

.coretokyo88{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 85vw;
	position: fixed;
}

.coretokyo89{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 90vw;
	position: fixed;
}

.coretokyo90{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:5vw;
	left: 95vw;
	position: fixed;
}

.coretokyo91{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 50vw;
	position: fixed;
}

.coretokyo92{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 55vw;
	position: fixed;
}

.coretokyo93{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 60vw;
	position: fixed;
}

.coretokyo94{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 65vw;
	position: fixed;
}

.coretokyo95{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 70vw;
	position: fixed;
}

.coretokyo96{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 75vw;
	position: fixed;
}

.coretokyo97{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 80vw;
	position: fixed;
}

.coretokyo98{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 85vw;
	position: fixed;
}

.coretokyo99{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 90vw;
	position: fixed;
}

.coretokyo100{
	width: 5vw;
	height: 5vw;
	background-color: #f79439;
	top:0vw;
	left: 95vw;
	position: fixed;
}
