.london-winddeg-1{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.4;
}

.london-winddeg-2{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.4;
}

.london-winddeg-3{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.4;
}

.london-winddeg-4{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.4;
}

.london-winddeg-5{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.4;
}

.london-winddeg-6{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.4;
}

.london-winddeg-7{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.4;
}

.london-winddeg-8{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 70vw;
	opacity: 0.4;
}

.london-winddeg-9{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 80vw;
	opacity: 0.4;
}

.london-winddeg-10{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.4;
}

.london-winddeg-11{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.4;
}

.london-winddeg-12{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.4;
}

.london-winddeg-13{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.4;
}

.london-winddeg-14{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.4;
}

.london-winddeg-15{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.4;
}

.london-winddeg-16{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.4;
}

.london-winddeg-17{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 70vw;
	opacity: 0.4;
}

.london-winddeg-18{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 80vw;
	opacity: 0.4;
}

.london-winddeg-19{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.4;
}

.london-winddeg-20{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.4;
}

.london-winddeg-21{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.4;
}

.london-winddeg-22{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.4;
}

.london-winddeg-23{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.4;
}

.london-winddeg-24{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.4;
}

.london-winddeg-25{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.4;
}

.london-winddeg-26{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 70vw;
	opacity: 0.4;
}

.london-winddeg-27{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 80vw;
	opacity: 0.4;
}

.london-winddeg-28{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.4;
}

.london-winddeg-29{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.4;
}

.london-winddeg-30{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.4;
}

.london-winddeg-31{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.4;
}

.london-winddeg-32{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.4;
}

.london-winddeg-33{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.4;
}

.london-winddeg-34{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.4;
}

.london-winddeg-35{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 70vw;
	opacity: 0.4;
}

.london-winddeg-36{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 80vw;
	opacity: 0.4;
}

.london-winddeg-37{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.4;
}

.london-winddeg-38{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.4;
}

.london-winddeg-39{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.4;
}

.london-winddeg-40{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.4;
}

.london-winddeg-41{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.4;
}

.london-winddeg-42{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.4;
}

.london-winddeg-43{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.4;
}

.london-winddeg-44{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 70vw;
	opacity: 0.4;
}

.london-winddeg-45{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 80vw;
	opacity: 0.4;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.newyork-winddeg-1{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 0vw;
	opacity: 0.4;
}

.newyork-winddeg-2{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 10vw;
	opacity: 0.4;
}

.newyork-winddeg-3{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 20vw;
	opacity: 0.4;
}

.newyork-winddeg-4{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 30vw;
	opacity: 0.4;
}

.newyork-winddeg-5{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 40vw;
	opacity: 0.4;
}

.newyork-winddeg-6{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 50vw;
	opacity: 0.4;
}

.newyork-winddeg-7{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 60vw;
	opacity: 0.4;
}

.newyork-winddeg-8{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 70vw;
	opacity: 0.4;
}

.newyork-winddeg-9{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 80vw;
	opacity: 0.4;
}

.newyork-winddeg-10{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 0vw;
	opacity: 0.4;
}

.newyork-winddeg-11{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 10vw;
	opacity: 0.4;
}

.newyork-winddeg-12{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 20vw;
	opacity: 0.4;
}

.newyork-winddeg-13{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 30vw;
	opacity: 0.4;
}

.newyork-winddeg-14{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 40vw;
	opacity: 0.4;
}

.newyork-winddeg-15{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 50vw;
	opacity: 0.4;
}

.newyork-winddeg-16{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 60vw;
	opacity: 0.4;
}

.newyork-winddeg-17{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 70vw;
	opacity: 0.4;
}

.newyork-winddeg-18{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 80vw;
	opacity: 0.4;
}

.newyork-winddeg-19{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 0vw;
	opacity: 0.4;
}

.newyork-winddeg-20{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 10vw;
	opacity: 0.4;
}

.newyork-winddeg-21{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 20vw;
	opacity: 0.4;
}

.newyork-winddeg-22{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 30vw;
	opacity: 0.4;
}

.newyork-winddeg-23{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 40vw;
	opacity: 0.4;
}

.newyork-winddeg-24{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 50vw;
	opacity: 0.4;
}

.newyork-winddeg-25{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 60vw;
	opacity: 0.4;
}

.newyork-winddeg-26{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 70vw;
	opacity: 0.4;
}

.newyork-winddeg-27{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 80vw;
	opacity: 0.4;
}

.newyork-winddeg-28{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 0vw;
	opacity: 0.4;
}

.newyork-winddeg-29{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 10vw;
	opacity: 0.4;
}

.newyork-winddeg-30{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 20vw;
	opacity: 0.4;
}

.newyork-winddeg-31{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 30vw;
	opacity: 0.4;
}

.newyork-winddeg-32{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 40vw;
	opacity: 0.4;
}

.newyork-winddeg-33{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 50vw;
	opacity: 0.4;
}

.newyork-winddeg-34{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 60vw;
	opacity: 0.4;
}

.newyork-winddeg-35{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 70vw;
	opacity: 0.4;
}

.newyork-winddeg-36{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 80vw;
	opacity: 0.4;
}

.newyork-winddeg-37{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 0vw;
	opacity: 0.4;
}

.newyork-winddeg-38{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 10vw;
	opacity: 0.4;
}

.newyork-winddeg-39{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 20vw;
	opacity: 0.4;
}

.newyork-winddeg-40{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 30vw;
	opacity: 0.4;
}

.newyork-winddeg-41{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 40vw;
	opacity: 0.4;
}

.newyork-winddeg-42{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 50vw;
	opacity: 0.4;
}

.newyork-winddeg-43{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 60vw;
	opacity: 0.4;
}

.newyork-winddeg-44{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 70vw;
	opacity: 0.4;
}

.newyork-winddeg-45{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 80vw;
	opacity: 0.4;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.tokyo-winddeg-1{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 0vw;
	opacity: 0.4;
}

.tokyo-winddeg-2{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 10vw;
	opacity: 0.4;
}

.tokyo-winddeg-3{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 20vw;
	opacity: 0.4;
}

.tokyo-winddeg-4{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 30vw;
	opacity: 0.4;
}

.tokyo-winddeg-5{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 40vw;
	opacity: 0.4;
}

.tokyo-winddeg-6{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 50vw;
	opacity: 0.4;
}

.tokyo-winddeg-7{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 60vw;
	opacity: 0.4;
}

.tokyo-winddeg-8{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 70vw;
	opacity: 0.4;
}

.tokyo-winddeg-9{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 0vw;
	left: 80vw;
	opacity: 0.4;
}

.tokyo-winddeg-10{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 0vw;
	opacity: 0.4;
}

.tokyo-winddeg-11{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 10vw;
	opacity: 0.4;
}

.tokyo-winddeg-12{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 20vw;
	opacity: 0.4;
}

.tokyo-winddeg-13{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 30vw;
	opacity: 0.4;
}

.tokyo-winddeg-14{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 40vw;
	opacity: 0.4;
}

.tokyo-winddeg-15{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 50vw;
	opacity: 0.4;
}

.tokyo-winddeg-16{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 60vw;
	opacity: 0.4;
}

.tokyo-winddeg-17{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 70vw;
	opacity: 0.4;
}

.tokyo-winddeg-18{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 10vw;
	left: 80vw;
	opacity: 0.4;
}

.tokyo-winddeg-19{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 0vw;
	opacity: 0.4;
}

.tokyo-winddeg-20{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 10vw;
	opacity: 0.4;
}

.tokyo-winddeg-21{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 20vw;
	opacity: 0.4;
}

.tokyo-winddeg-22{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 30vw;
	opacity: 0.4;
}

.tokyo-winddeg-23{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 40vw;
	opacity: 0.4;
}

.tokyo-winddeg-24{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 50vw;
	opacity: 0.4;
}

.tokyo-winddeg-25{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 60vw;
	opacity: 0.4;
}

.tokyo-winddeg-26{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 70vw;
	opacity: 0.4;
}

.tokyo-winddeg-27{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 20vw;
	left: 80vw;
	opacity: 0.4;
}

.tokyo-winddeg-28{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 0vw;
	opacity: 0.4;
}

.tokyo-winddeg-29{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 10vw;
	opacity: 0.4;
}

.tokyo-winddeg-30{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 20vw;
	opacity: 0.4;
}

.tokyo-winddeg-31{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 30vw;
	opacity: 0.4;
}

.tokyo-winddeg-32{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 40vw;
	opacity: 0.4;
}

.tokyo-winddeg-33{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 50vw;
	opacity: 0.4;
}

.tokyo-winddeg-34{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 60vw;
	opacity: 0.4;
}

.tokyo-winddeg-35{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 70vw;
	opacity: 0.4;
}

.tokyo-winddeg-36{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 30vw;
	left: 80vw;
	opacity: 0.4;
}

.tokyo-winddeg-37{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 0vw;
	opacity: 0.4;
}

.tokyo-winddeg-38{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 10vw;
	opacity: 0.4;
}

.tokyo-winddeg-39{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 20vw;
	opacity: 0.4;
}

.tokyo-winddeg-40{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 30vw;
	opacity: 0.4;
}

.tokyo-winddeg-41{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 40vw;
	opacity: 0.4;
}

.tokyo-winddeg-42{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 50vw;
	opacity: 0.4;
}

.tokyo-winddeg-43{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 60vw;
	opacity: 0.4;
}

.tokyo-winddeg-44{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 70vw;
	opacity: 0.4;
}

.tokyo-winddeg-45{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #6abaad;
	top: 40vw;
	left: 80vw;
	opacity: 0.4;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.seoul-winddeg-1{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.4;
}

.seoul-winddeg-2{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.4;
}

.seoul-winddeg-3{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.4;
}

.seoul-winddeg-4{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.4;
}

.seoul-winddeg-5{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.4;
}

.seoul-winddeg-6{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.4;
}

.seoul-winddeg-7{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.4;
}

.seoul-winddeg-8{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 70vw;
	opacity: 0.4;
}

.seoul-winddeg-9{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 80vw;
	opacity: 0.4;
}

.seoul-winddeg-10{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.4;
}

.seoul-winddeg-11{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.4;
}

.seoul-winddeg-12{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.4;
}

.seoul-winddeg-13{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.4;
}

.seoul-winddeg-14{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.4;
}

.seoul-winddeg-15{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.4;
}

.seoul-winddeg-16{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.4;
}

.seoul-winddeg-17{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 70vw;
	opacity: 0.4;
}

.seoul-winddeg-18{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 80vw;
	opacity: 0.4;
}

.seoul-winddeg-19{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.4;
}

.seoul-winddeg-20{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.4;
}

.seoul-winddeg-21{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.4;
}

.seoul-winddeg-22{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.4;
}

.seoul-winddeg-23{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.4;
}

.seoul-winddeg-24{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.4;
}

.seoul-winddeg-25{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.4;
}

.seoul-winddeg-26{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 70vw;
	opacity: 0.4;
}

.seoul-winddeg-27{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 80vw;
	opacity: 0.4;
}

.seoul-winddeg-28{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.4;
}

.seoul-winddeg-29{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.4;
}

.seoul-winddeg-30{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.4;
}

.seoul-winddeg-31{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.4;
}

.seoul-winddeg-32{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.4;
}

.seoul-winddeg-33{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.4;
}

.seoul-winddeg-34{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.4;
}

.seoul-winddeg-35{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 70vw;
	opacity: 0.4;
}

.seoul-winddeg-36{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 80vw;
	opacity: 0.4;
}

.seoul-winddeg-37{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.4;
}

.seoul-winddeg-38{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.4;
}

.seoul-winddeg-39{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.4;
}

.seoul-winddeg-40{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.4;
}

.seoul-winddeg-41{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.4;
}

.seoul-winddeg-42{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.4;
}

.seoul-winddeg-43{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.4;
}

.seoul-winddeg-44{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 70vw;
	opacity: 0.4;
}

.seoul-winddeg-45{
	width: 20vw;
	height: 20vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 80vw;
	opacity: 0.4;
}



