/*------------------------------------------------------------------------------------------------------------------------*/

.london-windspeed-1{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-2{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-3{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-4{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-5{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-6{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-7{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.2;
}

.london-windspeed-8{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-9{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-10{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-11{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-12{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-13{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-14{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.2;
}

.london-windspeed-15{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-16{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-17{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-18{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-19{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-20{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-21{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.2;
}

.london-windspeed-22{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-23{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-24{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-25{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-26{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-27{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-28{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.2;
}

.london-windspeed-29{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-30{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-31{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-32{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-33{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-34{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-35{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.2;
}

.london-windspeed-36{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 0vw;
	opacity: 0.2;
}

.london-windspeed-37{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 10vw;
	opacity: 0.2;
}

.london-windspeed-38{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 20vw;
	opacity: 0.2;
}

.london-windspeed-39{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 30vw;
	opacity: 0.2;
}

.london-windspeed-40{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 40vw;
	opacity: 0.2;
}

.london-windspeed-41{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 50vw;
	opacity: 0.2;
}

.london-windspeed-42{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 60vw;
	opacity: 0.2;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.newyork-windspeed-1{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-2{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-3{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-4{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-5{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-6{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-7{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.2;
}

.newyork-windspeed-8{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-9{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-10{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-11{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-12{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-13{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-14{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.2;
}

.newyork-windspeed-15{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-16{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-17{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-18{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-19{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-20{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-21{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.2;
}

.newyork-windspeed-22{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-23{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-24{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-25{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-26{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-27{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-28{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.2;
}

.newyork-windspeed-29{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-30{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-31{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-32{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-33{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-34{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-35{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.2;
}

.newyork-windspeed-36{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 0vw;
	opacity: 0.2;
}

.newyork-windspeed-37{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 10vw;
	opacity: 0.2;
}

.newyork-windspeed-38{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 20vw;
	opacity: 0.2;
}

.newyork-windspeed-39{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 30vw;
	opacity: 0.2;
}

.newyork-windspeed-40{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 40vw;
	opacity: 0.2;
}

.newyork-windspeed-41{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 50vw;
	opacity: 0.2;
}

.newyork-windspeed-42{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 60vw;
	opacity: 0.2;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.tokyo-windspeed-1{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-2{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-3{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-4{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-5{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-6{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-7{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.2;
}

.tokyo-windspeed-8{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-9{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-10{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-11{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-12{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-13{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-14{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.2;
}

.tokyo-windspeed-15{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-16{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-17{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-18{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-19{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-20{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-21{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.2;
}

.tokyo-windspeed-22{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-23{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-24{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-25{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-26{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-27{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-28{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.2;
}

.tokyo-windspeed-29{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-30{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-31{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-32{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-33{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-34{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-35{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.2;
}

.tokyo-windspeed-36{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 0vw;
	opacity: 0.2;
}

.tokyo-windspeed-37{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 10vw;
	opacity: 0.2;
}

.tokyo-windspeed-38{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 20vw;
	opacity: 0.2;
}

.tokyo-windspeed-39{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 30vw;
	opacity: 0.2;
}

.tokyo-windspeed-40{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 40vw;
	opacity: 0.2;
}

.tokyo-windspeed-41{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 50vw;
	opacity: 0.2;
}

.tokyo-windspeed-42{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 60vw;
	opacity: 0.2;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.seoul-windspeed-1{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-2{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-3{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-4{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-5{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-6{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-7{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 0vw;
	left: 60vw;
	opacity: 0.2;
}

.seoul-windspeed-8{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-9{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-10{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-11{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-12{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-13{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-14{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 10vw;
	left: 60vw;
	opacity: 0.2;
}

.seoul-windspeed-15{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-16{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-17{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-18{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-19{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-20{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-21{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 20vw;
	left: 60vw;
	opacity: 0.2;
}

.seoul-windspeed-22{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-23{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-24{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-25{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-26{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-27{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-28{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 30vw;
	left: 60vw;
	opacity: 0.2;
}

.seoul-windspeed-29{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-30{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-31{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-32{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-33{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-34{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-35{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 40vw;
	left: 60vw;
	opacity: 0.2;
}

.seoul-windspeed-36{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 0vw;
	opacity: 0.2;
}

.seoul-windspeed-37{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 10vw;
	opacity: 0.2;
}

.seoul-windspeed-38{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 20vw;
	opacity: 0.2;
}

.seoul-windspeed-39{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 30vw;
	opacity: 0.2;
}

.seoul-windspeed-40{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 40vw;
	opacity: 0.2;
}

.seoul-windspeed-41{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 50vw;
	opacity: 0.2;
}

.seoul-windspeed-42{
	width: 40vw;
	height: 10vw;
	position: fixed;
	background-color: #929d43;
	top: 50vw;
	left: 60vw;
	opacity: 0.2;
}

