.corelondon41{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 0vw;
	position: fixed;
}

.corelondon42{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 5vw;
	position: fixed;
}

.corelondon43{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 10vw;
	position: fixed;
}

.corelondon44{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 15vw;
	position: fixed;
}

.corelondon45{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 20vw;
	position: fixed;
}

.corelondon46{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 25vw;
	position: fixed;
}

.corelondon47{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 30vw;
	position: fixed;
}

.corelondon48{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 35vw;
	position: fixed;
}

.corelondon49{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 40vw;
	position: fixed;
}

.corelondon50{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:25vw;
	left: 45vw;
	position: fixed;
}

.corelondon51{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 0vw;
	position: fixed;
}

.corelondon52{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 5vw;
	position: fixed;
}

.corelondon53{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 10vw;
	position: fixed;
}

.corelondon54{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 15vw;
	position: fixed;
}

.corelondon55{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 20vw;
	position: fixed;
}

.corelondon56{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 25vw;
	position: fixed;
}

.corelondon57{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 30vw;
	position: fixed;
}

.corelondon58{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 35vw;
	position: fixed;
}

.corelondon59{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 40vw;
	position: fixed;
}

.corelondon60{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:20vw;
	left: 45vw;
	position: fixed;
}

.corelondon61{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 0vw;
	position: fixed;
}

.corelondon62{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 5vw;
	position: fixed;
}

.corelondon63{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 10vw;
	position: fixed;
}

.corelondon64{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 15vw;
	position: fixed;
}

.corelondon65{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 20vw;
	position: fixed;
}

.corelondon66{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 25vw;
	position: fixed;
}

.corelondon67{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 30vw;
	position: fixed;
}

.corelondon68{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 35vw;
	position: fixed;
}

.corelondon69{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 40vw;
	position: fixed;
}

.corelondon70{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:15vw;
	left: 45vw;
	position: fixed;
}

.corelondon71{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 0vw;
	position: fixed;
}

.corelondon72{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 5vw;
	position: fixed;
}

.corelondon73{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 10vw;
	position: fixed;
}

.corelondon74{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 15vw;
	position: fixed;
}

.corelondon75{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 20vw;
	position: fixed;
}

.corelondon76{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 25vw;
	position: fixed;
}

.corelondon77{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 30vw;
	position: fixed;
}

.corelondon78{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 35vw;
	position: fixed;
}

.corelondon79{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 40vw;
	position: fixed;
}

.corelondon80{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:10vw;
	left: 45vw;
	position: fixed;
}

.corelondon81{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 0vw;
	position: fixed;
}

.corelondon82{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 5vw;
	position: fixed;
}

.corelondon83{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 10vw;
	position: fixed;
}

.corelondon84{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 15vw;
	position: fixed;
}

.corelondon85{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 20vw;
	position: fixed;
}

.corelondon86{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 25vw;
	position: fixed;
}

.corelondon87{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 30vw;
	position: fixed;
}

.corelondon88{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 35vw;
	position: fixed;
}

.corelondon89{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 40vw;
	position: fixed;
}

.corelondon90{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:5vw;
	left: 45vw;
	position: fixed;
}

.corelondon91{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 0vw;
	position: fixed;
}

.corelondon92{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 5vw;
	position: fixed;
}

.corelondon93{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 10vw;
	position: fixed;
}

.corelondon94{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 15vw;
	position: fixed;
}

.corelondon95{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 20vw;
	position: fixed;
}

.corelondon96{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 25vw;
	position: fixed;
}

.corelondon97{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 30vw;
	position: fixed;
}

.corelondon98{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 35vw;
	position: fixed;
}

.corelondon99{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 40vw;
	position: fixed;
}

.corelondon100{
	width: 5vw;
	height: 5vw;
	background-color: #f27170;
	top:0vw;
	left: 45vw;
	position: fixed;
}
