body{
	margin: 0px;
}

a{
	color: black;
}

.left{
	position: fixed;
	width: 20vw;
	height: 60vw;
	background-color: #6abaad;
	opacity: 0.2;
}
.bottom{
	position: fixed;
	width: 100vw;
	height: 20vw;
	top: 40vw;
	background-color: #929d43;
	opacity: 0.2;
}


.newyorkbox{
	position: fixed;
	width: 40vw;
	height: 40vw;
	top: 0vw;
	left: 20vw;
	background-color: rgba(194, 108, 171, 1);
}

.newyorkname{
	font-family: nimbus-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 8vw;
	margin-top: 2vw;
	margin-left: 3vw;
	position: absolute;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#newyork {
	position: fixed;
	top: 13vw;
	left: 25.5vw;
	font-family: nimbus-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2vw;
	line-height: 2;
}

.londonbox {
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 20vw;
	left: 80vw;
	background-color: rgba(242, 113, 112, 1);
}

.londonname {
	font-family: nimbus-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.8vw;
	margin-top: 2vw;
	margin-left: 2.6vw;
	position: absolute;
}

#london {
	position: fixed;
	top: 26.5vw;
	left: 82.75vw;
	font-family: nimbus-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9vw;
	line-height: 2;
}

.tokyobox {
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 0vw;
	left: 60vw;
	background-color: rgba(247, 148, 57, 1);
}

.tokyoname {
	font-family: nimbus-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.8vw;
	margin-top: 2vw;
	margin-left: 2.6vw;
	position: absolute;
}

#tokyo {
	position: fixed;
	top: 6.5vw;
	left: 62.75vw;
	font-family: nimbus-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9vw;
	line-height: 2;
}

.seoulbox{
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 40vw;
	left: 60vw;
	background-color: rgba(255, 199, 8, 1);
}

.seoulname{
	font-family: nimbus-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.8vw;
	margin-top: 2vw;
	margin-left: 2.6vw;
	position: absolute;
}

#seoul {
	position: fixed;
	top: 46.5vw;
	left: 62.75vw;
	font-family: nimbus-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9vw;
	line-height: 2;
}