body{
	font-family: 'Overpass', sans-serif;
}

.wrapper{
	display: flex;
	align-content:space-around;
	align-items: stretch;
	justify-content:space-around;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	margin-top: 10vh;
	}

.namelondon, .namenewyork, .nameseoul, .nametokyo{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	font-size: 60px;
	align-items: center;
	}

#london{
	display: none;
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	flex-grow: 1;
	}

.london{
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	}

#newyork{
	display: none;
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	flex-grow: 1;
	}

.newyork{
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	}

#seoul{
	display: none;
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	flex-grow: 1;
	}

.seoul{
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	}

#tokyo{
	display: none;
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	margin-top: 30px;
	flex-grow: 1;
	}

.tokyo{
	width: 40%;
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	}
