body{
	margin: 0px;
}

.test1{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;

}

.test2{
	width: 5vw;
	height:4.75vw;
	background-color: #F5D000;
	position: fixed;
	left: 5vw;
}

.test3{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 10vw;
}

.test4{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 15vw;
}

.test5{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 20vw;
}

.test6{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 25vw;
}

.test7{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 30vw;
}

.test8{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 35vw;
}

.test9{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 40vw;
}

.test10{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 45vw;
}

.test11{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 50vw;
}

.test12{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 55vw;
}

.test13{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 60vw;
}

.test14{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 65vw;
}

.test15{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 70vw;
}

.test16{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 75vw;
}

.test17{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 80vw;
}

.test18{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 85vw;
}

.test19{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	left: 90vw;
}

.test20{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	left: 95vw;
}

.test21{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	top: 5vw;
}

.test22{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	top: 10vw;
}



.test23{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	top: 15vw;
}

.test24{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	top: 20vw;
}

.test25{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	top: 25vw;
}

.test26{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	top: 30vw;
}

.test27{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	top: 35vw;
}

.test28{
	width: 5vw;
	height:5vw;
	background-color: #C56CB4;
	position: fixed;
	top: 40vw;
}

.test29{
	width: 5vw;
	height:5vw;
	background-color: #F5D000;
	position: fixed;
	top: 45vw;
}

.test30{
	width: 5vw;
	height:8vw;
	background-color: #C56CB4;
	position: fixed;
	top: 50vw;
}



