/* TOKYO */

.tk_circle1-1{
	background-color: #6ABBAE;
	height: 36vw;
	width: 36vw;
	border-radius: 36vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-2{
	background-color: #6ABBAE;
	height: 33vw;
	width: 33vw;
	border-radius: 33vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-3{
	background-color: #6ABBAE;
	height: 30vw;
	width: 30vw;
	border-radius: 30vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-4{
	background-color: #6ABBAE;
	height: 27vw;
	width: 27vw;
	border-radius: 27vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-5{
	background-color: #6ABBAE;
	height: 24vw;
	width: 24vw;
	border-radius: 24vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-6{
	background-color: #6ABBAE;
	height: 21vw;
	width: 21vw;
	border-radius: 21vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-7{
	background-color: #6ABBAE;
	height: 18vw;
	width: 18vw;
	border-radius: 18vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-8{
	background-color: #6ABBAE;
	height: 15vw;
	width: 15vw;
	border-radius: 15vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-9{
	background-color: #6ABBAE;
	height: 12vw;
	width: 12vw;
	border-radius: 12vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

.tk_circle1-10{
	background-color: #6ABBAE;
	height: 10vw;
	width: 10vw;
	border-radius: 10vw;
	position: relative;
	top: 20vw;
	left: 10vw;
	opacity: 0.9;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.tk_circle2-1{
	background-color: #949E45;
	height: 10vw;
	width: 10vw;
	border-radius: 10vw;
	position: relative;
	top: -2vw;
	left: 23vw;
	opacity: 0.9;
}

.tk_circle2-2{
	background-color: #949E45;
	height: 13vw;
	width: 13vw;
	border-radius: 13vw;
	position: relative;
	top: -4vw;
	left: 21.5vw;
	opacity: 0.9;
}

.tk_circle2-3{
	background-color: #949E45;
	height: 16vw;
	width: 16vw;
	border-radius: 16vw;
	position: relative;
	top: -5vw;
	left: 20vw;
	opacity: 0.9;
}

.tk_circle2-4{
	background-color: #949E45;
	height: 19vw;
	width: 19vw;
	border-radius: 19vw;
	position: relative;
	top: -7vw;
	left: 18.5vw;
	opacity: 0.9;
}

.tk_circle2-5{
	background-color: #949E45;
	height: 22vw;
	width: 22vw;
	border-radius: 22vw;
	position: relative;
	top: -8.5vw;
	left: 17vw;
	opacity: 0.9;
}

.tk_circle2-6{
	background-color: #949E45;
	height: 25vw;
	width: 25vw;
	border-radius: 25vw;
	position: relative;
	top: -10vw;
	left: 15.5vw;
	opacity: 0.9;
}

.tk_circle2-7{
	background-color: #949E45;
	height: 28vw;
	width: 28vw;
	border-radius: 28vw;
	position: relative;
	top: -12vw;
	left: 14vw;
	opacity: 0.9;
}

.tk_circle2-8{
	background-color: #949E45;
	height: 31vw;
	width: 31vw;
	border-radius: 31vw;
	position: relative;
	top: -13.5vw;
	left: 12.5vw;
	opacity: 0.9;
}

.tk_circle2-9{
	background-color: #949E45;
	height: 34vw;
	width: 34vw;
	border-radius: 34vw;
	position: relative;
	top: -15vw;
	left: 11vw;
	opacity: 0.9;
}

.tk_circle2-10{
	background-color: #949E45;
	height: 37vw;
	width: 37vw;
	border-radius: 37vw;
	position: relative;
	top: -16.5vw;
	left: 10vw;
	opacity: 0.9;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.tk_circle3-1{
	background-color: #9C4B8D;
	height: 10vw;
	width: 10vw;
	border-radius: 10vw;
	position: relative;
	top: -21.5vw;
	left: 23vw;
	opacity: 0.9;
}

.tk_circle3-2{
	background-color: #9C4B8D;
	height: 11vw;
	width: 11vw;
	border-radius: 11vw;
	position: relative;
	top: -22vw;
	left: 22.5vw;
	opacity: 0.9;
}

.tk_circle3-3{
	background-color: #9C4B8D;
	height: 12vw;
	width: 12vw;
	border-radius: 12vw;
	position: relative;
	top: -22.5vw;
	left: 22vw;
	opacity: 0.9;
}

.tk_circle3-4{
	background-color: #9C4B8D;
	height: 13vw;
	width: 13vw;
	border-radius: 13vw;
	position: relative;
	top: -23vw;
	left: 21.5vw;
	opacity: 0.9;
}

.tk_circle3-5{
	background-color: #9C4B8D;
	height: 14vw;
	width: 14vw;
	border-radius: 14vw;
	position: relative;
	top: -23.5vw;
	left: 21vw;
	opacity: 0.9;
}

.tk_circle3-6{
	background-color: #9C4B8D;
	height: 15vw;
	width: 15vw;
	border-radius: 15vw;
	position: relative;
	top: -24vw;
	left: 20.5vw;
	opacity: 0.9;
}

.tk_circle3-7{
	background-color: #9C4B8D;
	height: 16vw;
	width: 16vw;
	border-radius: 16vw;
	position: relative;
	top: -24.5vw;
	left: 20vw;
	opacity: 0.9;
}

.tk_circle3-8{
	background-color: #9C4B8D;
	height: 17vw;
	width: 17vw;
	border-radius: 17vw;
	position: relative;
	top: -25vw;
	left: 19.5vw;
	opacity: 0.9;
}

.tk_circle3-9{
	background-color: #9C4B8D;
	height: 18vw;
	width: 18vw;
	border-radius: 18vw;
	position: relative;
	top: -25.5vw;
	left: 19vw;
	opacity: 0.9;
}

.tk_circle3-10{
	background-color: #9C4B8D;
	height: 19vw;
	width: 19vw;
	border-radius: 19vw;
	position: relative;
	top: -26vw;
	left: 18.5vw;
	opacity: 0.9;
}

/*-----------------------------------------------------------------------------------------------------------------*/


.tk_circle4-1{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-5deg);
	opacity: 0.05;
}

.tk_circle4-2{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-10deg);
	opacity: 0.1;
}

.tk_circle4-3{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-15deg);
	opacity: 0.15;
}

.tk_circle4-4{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-20deg);
	opacity: 0.2;
}

.tk_circle4-5{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-25deg);
	opacity: 0.25;
}

.tk_circle4-6{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-30deg);
	opacity: 0.3;
}

.tk_circle4-7{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-35deg);
	opacity: 0.35;
}

.tk_circle4-8{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-40deg);
	opacity: 0.4;
}

.tk_circle4-9{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-45deg);
	opacity: 0.45;
}

.tk_circle4-10{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-50deg);
	opacity: 0.5;
}

.tk_circle4-11{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-55deg);
	opacity: 0.55;
}

.tk_circle4-12{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-60deg);
	opacity: 0.6;
}

.tk_circle4-13{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-65deg);
	opacity: 0.65;
}

.tk_circle4-14{
	background-color: #f7f58a;
	height: 20vw;
	width: 20vw;
	border-radius: 20vw;
	position: relative;
	top: -50vw;
	left: 30vw;
	transform: skew(-70deg);
	opacity: 0.7;
}

