.tokyobox{
	position: fixed;
	width: 30vw;
	height: 30vw;
	top: 10vw;
	left: 10vw;
	background-color: rgba(247, 148, 57, 0.7);
}

.tokyoname{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	font-size: 8vw;
	margin-top: -1vw;
	margin-left: 1vw;
	position: absolute;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#tokyo{
	position: fixed;
	top: 20vw;
	left: 11.5vw;
	font-family: 'Overpass', sans-serif;
	font-size: 1.4vw;
}

.seoulbox{
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 20vw;
	left: 70vw;
	background-color: rgba(255, 199, 8, 0.7);
}

.seoulname{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	font-size: 4vw;
	margin-top: -0.5vw;
	margin-left: 1vw;
	position: absolute;
}

#seoul{
	position: fixed;
	top: 25.5vw;
	left: 71vw;
	font-family: 'Overpass', sans-serif;
	font-size: 1.05vw;
}

.londonbox{
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 0vw;
	left: 60vw;
	background-color: rgba(242, 113, 112, 0.7);
}

.londonname{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	font-size: 4vw;
	margin-top: -0.5vw;
	margin-left: 1vw;
	position: absolute;
}

#london{
	position: fixed;
	top: 5.5vw;
	left: 61vw;
	font-family: 'Overpass', sans-serif;
	font-size: 1.05vw;
}

.newyorkbox{
	position: fixed;
	width: 20vw;
	height: 20vw;
	top: 40vw;
	left: 60vw;
	background-color: rgba(194, 108, 171, 0.7);
}

.newyorkname{
	font-family: 'Overpass', sans-serif;
	font-weight: 800;
	font-size: 4vw;
	margin-top: -0.5vw;
	margin-left: 1vw;
	position: absolute;
}

#newyork{
	position: fixed;
	top: 45.5vw;
	left: 61vw;
	font-family: 'Overpass', sans-serif;
	font-size: 1.05vw;
}