

			@font-face {
  			font-family: 'myFont';
  			src: url('basiercircle-regular.otf');
  			font-weight: normal;
    		font-style: normal;
			}

			body{
				margin: 0;
				padding: 0;
			}


			.manifestoPage{
				position: absolute;
				top: 2vw;
				left: 20vw;

				width: 12vw;
				height: 3vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 50px #C2C2C2,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */


				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 16px;
				line-height: 3vw;
				color:#778089;

				vertical-align: baseline;
				text-align: center;
			}

			.manifestoPage:hover {
				box-shadow:
    			inset 0 0 20px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */
			}


			.principlesPage{
				position: absolute;
				top: 2vw;
				left: 32vw;

				width: 12vw;
				height: 3vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 50px #C2C2C2,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */

				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 16px;
				line-height: 3vw;
				color:#778089;

				vertical-align: baseline;
				text-align: center;

			}

			.principlesPage:hover {
				box-shadow:
    			inset 0 0 20px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */
			}

			.referencesPage{
				position: absolute;
				top: 2vw;
				left: 44vw;

				width: 12vw;
				height: 3vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 7px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */

				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 16px;
				line-height: 3vw;
				color:#778089;

				vertical-align: baseline;
				text-align: center;
			}

			.referencesPage:hover {
				box-shadow:
    			inset 0 0 20px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */
			}

			.glossaryPage{
				position: absolute;
				top: 2vw;
				left: 56vw;

				width: 12vw;
				height: 3vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 50px #C2C2C2,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */

				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 16px;
				line-height: 3vw;
				color:#778089;

				vertical-align: baseline;
				text-align: center;
			}

			.glossaryPage:hover {
				box-shadow:
    			inset 0 0 20px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */
			}

			.toolsPage{
				position: absolute;
				top: 2vw;
				left: 68vw;

				width: 12vw;
				height: 3vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 50px #C2C2C2,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */

				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 16px;
				line-height: 3vw;
				color:#778089;

				vertical-align: baseline;
				text-align: center;
			}

			.toolsPage:hover {
				box-shadow:
    			inset 0 0 20px #A7A7A7,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */
			}

			h1{
				text-align: center;
				margin: 0;
				padding: 0;
				font-family: myFont;
				font-weight: bolder;
				font-size: 24px;
				line-height: 32px;

			}

			.title{
				position: absolute;
				top: 15vw;
				left: 32vw;

				width: 36vw;
				height: 6vw;
				border-radius: 5vw;

				box-shadow:
    			inset 0 0 15px #DADADA,      /* inner white */
			    inset 20px 0 300px #fff,   /* inner left magenta short */
			    inset -20px 0 300px #fff,  /* inner right cyan short */
			    inset 20px 0 300px #fff,  /* inner left magenta broad */
			    inset -20px 0 300px #fff; /* inner right cyan broad */


				margin: 0;
				padding: 0;

				font-family: myFont;
				font-weight: 100;
				font-size: 32px;
				line-height: 6vw;
				color:#66696A;

				vertical-align: baseline;
				text-align: center;
			}

			

			body{
				text-align: left;
				margin: 0;
				padding: 0;
				font-family: myFont;
				font-size: 14px;
				line-height: 20px;
				color:#778089;

			}


			.bodytext{
				position: absolute;
				font-family: myFont;
				font-size: 18px;
				line-height: 26px;
				color:#778089;
				top: 30vw;
				margin-left: 32vw;
				margin-right: 32vw;
			}


			a{
				text-decoration: none;
				color: inherit;
			}

			a:hover{
				color: inherit;
			}

			a:active{
				color: inherit;
			}

			a:visited{
				color: gray;
			}
		
			img {
				 position: absolute;
				 left: 0vw;
				 top: 0vw;
				}


			#paddingBottom{
				position: absolute;
				top: 100vw;
				height: 20vw;
				width: 100vw;
				background-color: transparent;
			}

